/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/bootstrap.min
 *= require_tree .
 *= require_self
 */


body {
  color: #131C0D;
}

a, a:hover, a:active, a:visited, a:focus {
  color: #56891D;
}

h1, h2, h3 {
  color: #89181b;
}

input[type=submit] {
  background-color: #2B440D;
  color: #fff;
  border-color: #2B440D;
}

.edit-form input {
  border: none;
}

.edit-form textarea {
  width: 95%;
  resize: none;
  border: none;
}

.person-data {
  display: inline-block;
}

.person-data h3 {
  display: inline-block;
}

.person-data div {
  display: inline-block;
  padding: 2%;
}


.hidden-save-button {
  visibility: hidden;
}



